.about-us {
  display: block;
  margin-top: 70px;
  padding: 0 30px;
}
.topic__list li {
 list-style: none;
  margin-left: -40px;
  font-size: 17px;
  font-weight: 600;
  line-height: 20px;

}
.topic__list img {
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: -40px;

}
