.benefits {

}

.benefits__col-another {
  color: #63d1bb;
}
.benefits p {
  color: #444444;
  font-size: 15px;
  line-height: 24px;
}
.benefits__table {
  border-collapse: collapse;
  margin-bottom: 30px;
}
.benefits__table td {
  font-size: 15px;
  line-height: 20px;
  color: #444444;
  border-bottom: 1px solid #ececec;
  padding-top: 10px;
  padding-bottom: 10px;
}
.benefits__left {
  padding-left: 55px;
}
.benefits__color {
  text-align: center;
  display: block;
  width: 260px;
  margin-top: 20px;
  color: #444444;
  font-size: 17px;
  line-height: 24px;
}


