.features__type {
  border: 1px solid #ededed;
  margin-top: 30px;
}
.features__type:hover {
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.6);
}
.features__type:active {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.6);
}
.features__type img {

}

.features__type b {
  display: block;
  width: 260px;
  padding-left: 30px;
  margin-top: 25px;

  font-size: 17px;
  font-weight: 600;
  line-height: 24px;
}
.features__type span {
  padding-left: 30px;
  margin-top: 25px;
  color: #444444;
  font-size: 13px;

  line-height: 30px;
}
.features__bottom {
  position: relative;
  margin-bottom: 30px;
  padding-top: 30px;
}
.features__bottom::after {
  content: "";
  border-bottom: 1px solid #ededed;
  padding-left: 205px;
  position: absolute;
  top: 2px;
  left: 28px;
}
