.grid__one {
  display: block;
  min-height: 240px;
  width: 20px;
  margin-bottom: -40px;
}
.grid__one .grid-30 {
    display: block;
    float: left;
    width: 190px;

    font-size: 15px;

    font-weight: 600;
    line-height: 18px;
}
.grid__two .grid-20 {
    display: block;
    float: left;
    width: 190px;

    font-size: 15px;

    font-weight: 600;
    line-height: 18px;
}

.grid__two {
  display: block;
  min-height: 544px;
  width: 20px;
  margin-bottom: 70px;
}

.grid__coast {
  display: block;
  position: relative;
  margin-left: 0px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 17px;
  line-height: 18px;
  color: #63d1bb;
  text-transform: uppercase;
  font-weight: bold;
}
.grid__coast::after {
  content: "";
  border-bottom: 1px solid #63d1bb;
  padding-left: 200px;
  position: absolute;
  top: 10px;
  left: 65px;

}
input[type="radio"] {
  display: none;
}

input[type="checkbox"] {
  display: none;
}

input[type="radio"] + label {
  display: block;
  margin: 20px 50px;
  line-height: 20px;
  padding-left: 35px;
  position: relative;
  cursor: pointer;
  color: #283136;

}

input[type="radio"] + label::before {
  content: "";
  display: block;
  background-color: #ffffff;
  position: absolute;
  top: -3px;
  left: -50px;
  background-image: url("../img/sprite-two.png");
  background-repeat: no-repeat;
  background-position: 0px -310px;
  width: 52px;
  height: 52px;
}

input[type="radio"]:checked + label::after {
  content: "";
  background-image: url("../img/sprite-two.png");
  background-repeat: no-repeat;
  position: absolute;
  top: -3px;
  left: -50px;
  background-position: 0px -248px;
  width: 52px;
  height: 52px;
}

input[type="checkbox"] + label {
  display: block;
  margin: 35px 50px;
  line-height: 20px;
  padding-left: 35px;
  position: relative;
  cursor: pointer;
  color: #283136;
  width: 260px;
}

input[type="checkbox"] + label::before {
  content: "";
  display: block;
  background-color: #ffffff;
  position: absolute;
  top: -3px;
  left: -50px;
  background-image: url("../img/sprite-two.png");
  background-repeat: no-repeat;
  background-position: 0px -434px;
  width: 54px;
  height: 52px;
}

input[type="checkbox"]:checked + label::after {
  content: "";
  background-image: url("../img/sprite-two.png");
  background-repeat: no-repeat;
  position: absolute;
  top: -3px;
  left: -50px;
  background-position: 0px -372px;
  width: 54px;
  height: 52px;
}

.grid__tree {
  display: block;
  min-height: 275px;
  margin-bottom: 30px;
}
.grid__tree .grid-40 {
  display: block;
  width: 260px;
  margin-top: 20px;
  font-weight: 600;
  font-size: 17px;
  line-height: 18px;
}
.grid__tree input {
  border: 0;
  border-bottom: 2px solid black;
  outline: 0;
  width: 260px;
  padding-bottom: 15px;
  font-size: 17px;
  line-height: 18px;
  margin-top: 10px;
}
.grid__four {
  min-height: 80px;
  margin-bottom: 30px;
  display: block;
}
.grid__four input {
  border: 0;
  border-bottom: 2px solid black;
  outline: 0;
  width: 260px;
  padding-bottom: 15px;
  font-size: 17px;
  line-height: 18px;
  margin-top: 10px;
}
.grid__five {
  min-height: 80px;
  margin-bottom: 30px;
  display: block;
}
.grid__five input {
  border: 0;
  border-bottom: 2px solid black;
  outline: 0;
  width: 260px;
  padding-bottom: 15px;
  font-size: 17px;
  line-height: 18px;
  margin-top: 10px;
}
.grid__six {
  min-height: 200px;
  margin-bottom: 30px;
  display: block;
}
.grid__six textarea {

  border: 2px solid black;
  outline: 0;
  width: 245px;
  padding-bottom: 15px;
  font-size: 17px;
  line-height: 18px;
  margin-top: 10px;
  resize: vertical;
  padding: 15px 0 90px 15px;
  overflow: auto;
}
.grid__six span {
  display: block;
  width: 260px;
  font-size: 14px;
  line-height: 16px;
  color: #444444;
  margin-top: 10px;
  margin-bottom: 30px;
}
.mar-bot-class {
  display: block;
  height: 1px;
  width: 260px;
  margin-bottom: 60px;
}
