.page-footer__logo {
  display: none;
}
.page-footer {
  background-color: #f1f1f1;
}
.page-footer__social {
  height: 80px;
}

.social-link {
  position: relative;
  overflow: hidden;
  font-size: 0;
}
.social-link::after {
  position: absolute;
    content: "";
    background: url("../img/sprite.png");
    background-repeat: no-repeat;

}
.social-link--in::after {
   background-position: 0px 0px;
  width: 22px;
  height: 21px;
  top: 15px;
  left: 95px;

}
.social-link--fb::after {
  top: 10px;
  left: 145px;
  background-position: 0px -31px;
  width: 15px;
  height: 28px;
}
.social-link--tv::after {
top: 15px;
  left: 190px;
  background-position: 0px -69px;
  width: 23px;
  height: 20px;
}
.page-footer__copyright {
  position: relative;
  display: block;

  margin-top: -20px;
  padding-top: 25px;
  padding-bottom: 5px;
  height: 40px;

  font-size: 19px;
  line-height: 18px;
  font-weight: 600;
  margin-left: 40px;
}

.page-footer__copyright img {
  margin-left: 25px;
  margin-top: -5px;
  margin-bottom: -13px;
}
.page-footer__copyright span {
  margin-left: 20px;
  padding-top: -20px;
}
