.page-header__logo {
display: flex;
margin: auto;
  position: relative;
}
.page-header__logo img {
  display: flex;
  margin: auto;

}
.page-header {

  margin: auto;
  width: 320px;
  padding: 21px 0;
  border-top: 1px solid #ececec;


}
.page-header__logo img:hover {
  opacity: 0.5;
}
.page-header__logo img:active {
  opacity: 0.2;
}

.page-header__search {
  display: none;
}
.page-header__title {
  width: 100%;
  position: absolute;
  display: block;
  left: 0px;
  top: 89px;
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
  margin: 0 auto;
}
.page-header--index {
    min-height: 412px;
    padding: 85px 0px 10px;
    background: #fafafa url(../img/hero-mobile@1x.jpg) no-repeat;
    background-position: center top;
}
