@import "page-header";
@import "title.scss";
@import "features-main";
@import "benefits";
@import "about-us";
@import "reviews";
@import "contacts";
@import "page-footer";
@import "main-nav";
@import "page-main-two";
@import "catalog-info";
@import "features";
@import "features-video";
@import "info";
@import "grid";
@font-face {
  font-family: "Open Sans";
  src: url(../fonts/opensans.woff) format('woff'), url(../fonts/opensans.woff2) format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: "Open Sans";
  src: url(../fonts/opensansbold.woff) format('woff'), url(../fonts/opensansbold.woff2) format('woff2');
  font-weight: 700;
}

$mobile-widths-only: (max-width: 767px);
$tablet-widths: (min-width: 768px);
$desktop-widths: (min-width: 1250px);
body {
  background: white;
  min-width: 320px;
  min-height: 1000px;
  font-family: "Open Sans", "Arial", sans-serif;
  margin: 0;
}

.container {
  width: 320px;
  margin: 0 auto;
  @media #{$tablet-widths} {
    width: 668px;
  }
  @media #{$desktop-widths} {
    width: 1050px;
  }
}

.container-fluid {
  width: auto;
  @media #{tablet-widths} {
    width: 87%;
    /* 640px / 768px ~= 84% */
    max-width: 1050px;
    /* 960px / .84 ~= 1142px (центровка начнётся чуть раньше 1200px) */
    margin: 0 auto;
  }
}
@media (max-width: 767px) {
  .page-header__img {
    display: none;
}
}

@media #{$tablet-widths} {
  .page-header {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 0;
    margin: 0 auto 25px;
    width: 768px;
  }
  .page-header__logo {
   display: none;
  }
  .page-header__img {
    width: 320px;
    min-height: 88px;
    padding-top: 22px;

    margin: 0 0 -50px 0;
    padding-left: 50px;
    order: -2;
    border-top: 0;
    flex-grow: 1;
    flex-wrap: wrap;
    text-align: left;
  }
  .main-nav {
    display: flex;
    z-index: 1;

  }
  .main-nav--closed {
    display: none;
  }
  .main-nav__links-tablet {
    display: block;
  }
  .main-nav--opened-two {
    order: -1;
  }
  .main-nav--opened {
    order: 0;
  }
  .main-nav__switch {
    display: none;
  }


}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.topic {
  font-size: 25px;
  line-height: 30px;
  font-weight: 600;
  margin-bottom: 5px;
}

.btn {
  margin-top: 25px;
  outline: 0;
  display: block;
  text-align: center;
  width: 260px;
  padding: 17px 0px 17px 0px;
  color: #444444;
  font-size: 17px;
  line-height: 16px;
  font-weight: 600;
  border: 2px solid black;
  background: 0;
  text-transform: uppercase;
}

.btn:hover {
  background: #444444;
  color: white;
  border: 2px solid #444444;
}

.btn:active {
  background: #444444;
  color: #8d8d8d;
  border: 2px solid #444444;
}
