@charset "UTF-8";
.page-header__logo {
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  position: relative; }

.page-header__logo img {
  display: -ms-flexbox;
  display: flex;
  margin: auto; }

.page-header {
  margin: auto;
  width: 320px;
  padding: 21px 0;
  border-top: 1px solid #ececec; }

.page-header__logo img:hover {
  opacity: 0.5; }

.page-header__logo img:active {
  opacity: 0.2; }

.page-header__search {
  display: none; }

.page-header__title {
  width: 100%;
  position: absolute;
  display: block;
  left: 0px;
  top: 89px;
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
  margin: 0 auto; }

.page-header--index {
  min-height: 412px;
  padding: 85px 0px 10px;
  background: #fafafa url(../img/hero-mobile@1x.jpg) no-repeat;
  background-position: center top; }

.title {
  width: 100%;
  text-align: center; }

.title__image {
  position: relative;
  width: 100%;
  display: block;
  background: url("../img/hero-mobile@1x.jpg") no-repeat #F9F9F9;
  background-position: center top;
  height: 505px;
  border-top: 1px solid #ececec;
  /*padding-top: 82px;*/
  box-sizing: border-box; }

.title__main {
  width: 100%;
  position: absolute;
  display: block;
  left: 0px;
  top: 160px;
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
  margin: 0 auto; }

.features-main {
  position: relative;
  height: 206px;
  margin-top: -331px;
  margin-bottom: 160px; }

.features-main__link {
  display: block;
  position: absolute;
  width: 100%;
  height: 103px;
  background: #63d1bb;
  color: white;
  text-decoration: none; }

.features-main__link--one {
  bottom: -323px; }

.features-main__link--two {
  bottom: -220px; }

.features-main__link:hover {
  background: #59d5bc; }

.features-main__link img {
  position: absolute;
  top: 20px;
  left: 245px;
  opacity: 0.2; }

.features-main__link span {
  font-size: 19px;
  font-weight: 600;
  line-height: 24px;
  position: absolute;
  top: 20px;
  left: 30px; }

.benefits {
  padding: 0 30px;
  margin-top: 330px; }

.benefits__col-another {
  color: #63d1bb; }

.benefits p {
  color: #444444;
  font-size: 15px;
  line-height: 24px; }

.benefits__table {
  border-collapse: collapse;
  margin-bottom: 30px; }

.benefits__table td {
  font-size: 15px;
  line-height: 20px;
  color: #444444;
  border-bottom: 1px solid #ececec;
  padding-top: 10px;
  padding-bottom: 10px; }

.benefits__left {
  padding-left: 55px; }

.benefits__color {
  text-align: center;
  display: block;
  width: 260px;
  margin-top: 20px;
  color: #444444;
  font-size: 17px;
  line-height: 24px; }

.about-us {
  display: block;
  margin-top: 70px;
  padding: 0 30px; }

.about-us__list {
  position: relative; }

.about-us__item-image {
  position: absolute; }

.about-us__list li {
  list-style: none;
  margin-left: -40px;
  font-size: 17px;
  font-weight: 600;
  line-height: 20px;
  margin-top: 85px; }

.about-us__list img {
  margin-top: -50px;
  margin-bottom: 20px; }

.reviews {
  margin-top: 60px;
  padding: 0 30px; }

.reviews p {
  color: #444444;
  font-size: 15px;
  line-height: 30px; }

.reviews b {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px; }

.reviews span {
  display: block;
  color: #444444;
  margin-top: 8px;
  margin-bottom: 40px; }

.reviews__prev {
  margin-right: -5px;
  width: 130px;
  height: 50px;
  background: 0;
  outline: 0;
  border: 1px solid #ececec;
  margin-bottom: 20px; }

.reviews__next {
  width: 130px;
  height: 50px;
  background: 0;
  outline: 0;
  border: 1px solid #ececec; }

.reviews__img {
  margin-top: 3px; }

.reviews__prev:hover {
  opacity: 0.7; }

.reviews__prev:active {
  opacity: 0.4; }

.reviews__next:hover {
  opacity: 0.7; }

.reviews__next:active {
  opacity: 0.4; }

.contacts {
  padding: 0 30px; }

.contacts b {
  display: block;
  font-size: 18px;
  line-height: 30px;
  font-weight: 600;
  margin-top: 85px;
  margin-bottom: 40px; }

.contacts-info {
  margin-bottom: 30px; }
  .contacts-info span {
    font-size: 15px;
    line-height: 30px;
    color: #444444; }

.contacts-email__value {
  text-decoration: none;
  border-bottom: 1px solid #62d1ba;
  color: #444444;
  margin-top: 5px; }
  .contacts-email__value:hover {
    color: #78cec0; }

.contacts-email__label, .contacts-adress__label {
  padding-right: 16px; }

.contacts__maps {
  margin-top: 45px;
  margin-left: 40px; }

.page-footer__logo {
  display: none; }

.page-footer {
  background-color: #f1f1f1; }

.page-footer__social {
  height: 80px; }

.social-link {
  position: relative;
  overflow: hidden;
  font-size: 0; }

.social-link::after {
  position: absolute;
  content: "";
  background: url("../img/sprite.png");
  background-repeat: no-repeat; }

.social-link--in::after {
  background-position: 0px 0px;
  width: 22px;
  height: 21px;
  top: 15px;
  left: 95px; }

.social-link--fb::after {
  top: 10px;
  left: 145px;
  background-position: 0px -31px;
  width: 15px;
  height: 28px; }

.social-link--tv::after {
  top: 15px;
  left: 190px;
  background-position: 0px -69px;
  width: 23px;
  height: 20px; }

.page-footer__copyright {
  position: relative;
  display: block;
  margin-top: -20px;
  padding-top: 25px;
  padding-bottom: 5px;
  height: 40px;
  font-size: 19px;
  line-height: 18px;
  font-weight: 600;
  margin-left: 40px; }

.page-footer__copyright::after {
  content: "";
  position: absolute;
  border-top: 1px solid #e5e5e5;
  padding-left: 260px;
  top: 0px;
  left: -40px; }

.page-footer__copyright img {
  margin-left: 25px;
  margin-top: -5px;
  margin-bottom: -13px; }

.page-footer__copyright span {
  margin-left: 20px;
  padding-top: -20px; }

.main-nav__links {
  display: block;
  margin-left: -30px;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  position: absolute;
  z-index: 1;
  background-color: #fff; }

.main-nav__link a:hover {
  opacity: 0.5; }

.main-nav__link a:active {
  opacity: 0.2; }

.main-nav__link a {
  display: block;
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-align: left;
  padding: 30px 0px 30px 75px;
  border: 1px solid #ececec;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  width: 235px; }

.main-nav__switch {
  display: block;
  background-color: transparent;
  font-size: 0;
  background-image: url("../img/icon-menu-open.svg");
  width: 23px;
  height: 14px;
  border: 0;
  outline: 0;
  position: absolute;
  top: -53px;
  left: 300px; }

.main-nav--opened-two {
  top: 220px; }

.catalog-info {
  height: 175px;
  background: #f1f1f1; }

.catalog-info__title {
  font-size: 27px;
  line-height: 30px;
  font-weight: 600;
  margin: 0 auto;
  text-align: center;
  padding-top: 75px; }

.features__type {
  border: 1px solid #ededed;
  margin-top: 30px; }

.features__type:hover {
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.6); }

.features__type:active {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.6); }

.features__type b {
  display: block;
  width: 260px;
  padding-left: 30px;
  margin-top: 25px;
  font-size: 17px;
  font-weight: 600;
  line-height: 24px; }

.features__type span {
  padding-left: 30px;
  margin-top: 25px;
  color: #444444;
  font-size: 13px;
  line-height: 30px; }

.features__bottom {
  position: relative;
  margin-bottom: 30px;
  padding-top: 30px; }

.features__bottom::after {
  content: "";
  border-bottom: 1px solid #ededed;
  padding-left: 205px;
  position: absolute;
  top: 2px;
  left: 28px; }

.features-video {
  border: 1px solid #ededed;
  margin-top: 30px;
  margin-bottom: 55px; }

.features-video:hover {
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.6); }

.features-video:active {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.6); }

.features-video__type h4 {
  display: block;
  width: 170px;
  margin-left: 90px; }

.features-video__type p, .features-video__type a {
  width: 190px;
  margin-left: 30px; }

.features-video__type a {
  margin-bottom: 30px; }

.features-video__type p {
  font-size: 13px;
  line-height: 24px;
  color: #444444; }

.info {
  font-size: 13px;
  line-height: 24px;
  color: #444444;
  margin-top: 30px; }

.grid__one {
  display: block;
  min-height: 240px;
  width: 20px;
  margin-bottom: -40px; }

.grid__one .grid-30 {
  display: block;
  float: left;
  width: 190px;
  font-size: 15px;
  font-weight: 600;
  line-height: 18px; }

.grid__two .grid-20 {
  display: block;
  float: left;
  width: 190px;
  font-size: 15px;
  font-weight: 600;
  line-height: 18px; }

.grid__two {
  display: block;
  min-height: 544px;
  width: 20px;
  margin-bottom: 70px; }

.grid__coast {
  display: block;
  position: relative;
  margin-left: 0px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 17px;
  line-height: 18px;
  color: #63d1bb;
  text-transform: uppercase;
  font-weight: bold; }

.grid__coast::after {
  content: "";
  border-bottom: 1px solid #63d1bb;
  padding-left: 200px;
  position: absolute;
  top: 10px;
  left: 65px; }

input[type="radio"] {
  display: none; }

input[type="checkbox"] {
  display: none; }

input[type="radio"] + label {
  display: block;
  margin: 20px 50px;
  line-height: 20px;
  padding-left: 35px;
  position: relative;
  cursor: pointer;
  color: #283136; }

input[type="radio"] + label::before {
  content: "";
  display: block;
  background-color: #ffffff;
  position: absolute;
  top: -3px;
  left: -50px;
  background-image: url("../img/sprite-two.png");
  background-repeat: no-repeat;
  background-position: 0px -310px;
  width: 52px;
  height: 52px; }

input[type="radio"]:checked + label::after {
  content: "";
  background-image: url("../img/sprite-two.png");
  background-repeat: no-repeat;
  position: absolute;
  top: -3px;
  left: -50px;
  background-position: 0px -248px;
  width: 52px;
  height: 52px; }

input[type="checkbox"] + label {
  display: block;
  margin: 35px 50px;
  line-height: 20px;
  padding-left: 35px;
  position: relative;
  cursor: pointer;
  color: #283136;
  width: 260px; }

input[type="checkbox"] + label::before {
  content: "";
  display: block;
  background-color: #ffffff;
  position: absolute;
  top: -3px;
  left: -50px;
  background-image: url("../img/sprite-two.png");
  background-repeat: no-repeat;
  background-position: 0px -434px;
  width: 54px;
  height: 52px; }

input[type="checkbox"]:checked + label::after {
  content: "";
  background-image: url("../img/sprite-two.png");
  background-repeat: no-repeat;
  position: absolute;
  top: -3px;
  left: -50px;
  background-position: 0px -372px;
  width: 54px;
  height: 52px; }

.grid__tree {
  display: block;
  min-height: 275px;
  margin-bottom: 30px; }

.grid__tree .grid-40 {
  display: block;
  width: 260px;
  margin-top: 20px;
  font-weight: 600;
  font-size: 17px;
  line-height: 18px; }

.grid__tree input {
  border: 0;
  border-bottom: 2px solid black;
  outline: 0;
  width: 260px;
  padding-bottom: 15px;
  font-size: 17px;
  line-height: 18px;
  margin-top: 10px; }

.grid__four {
  min-height: 80px;
  margin-bottom: 30px;
  display: block; }

.grid__four input {
  border: 0;
  border-bottom: 2px solid black;
  outline: 0;
  width: 260px;
  padding-bottom: 15px;
  font-size: 17px;
  line-height: 18px;
  margin-top: 10px; }

.grid__five {
  min-height: 80px;
  margin-bottom: 30px;
  display: block; }

.grid__five input {
  border: 0;
  border-bottom: 2px solid black;
  outline: 0;
  width: 260px;
  padding-bottom: 15px;
  font-size: 17px;
  line-height: 18px;
  margin-top: 10px; }

.grid__six {
  min-height: 200px;
  margin-bottom: 30px;
  display: block; }

.grid__six textarea {
  border: 2px solid black;
  outline: 0;
  width: 245px;
  padding-bottom: 15px;
  font-size: 17px;
  line-height: 18px;
  margin-top: 10px;
  resize: vertical;
  padding: 15px 0 90px 15px;
  overflow: auto; }

.grid__six span {
  display: block;
  width: 260px;
  font-size: 14px;
  line-height: 16px;
  color: #444444;
  margin-top: 10px;
  margin-bottom: 30px; }

.mar-bot-class {
  display: block;
  height: 1px;
  width: 260px;
  margin-bottom: 60px; }

@font-face {
  font-family: "Open Sans";
  src: url(../fonts/opensans.woff) format("woff"), url(../fonts/opensans.woff2) format("woff2");
  font-weight: 400; }

@font-face {
  font-family: "Open Sans";
  src: url(../fonts/opensansbold.woff) format("woff"), url(../fonts/opensansbold.woff2) format("woff2");
  font-weight: 700; }

body {
  background: white;
  min-width: 320px;
  min-height: 1000px;
  font-family: "Open Sans", "Arial", sans-serif;
  margin: 0; }

.container {
  width: 320px;
  margin: 0 auto; }
  @media (min-width: 768px) {
    .container {
      width: 768px; } }
  @media (min-width: 1250px) {
    .container {
      width: 1150px; } }

.container-fluid {
  width: auto; }
  @media tablet-widths {
    .container-fluid {
      width: 87%;
      /* 640px / 768px ~= 84% */
      max-width: 1050px;
      /* 960px / .84 ~= 1142px (центровка начнётся чуть раньше 1200px) */
      margin: 0 auto; } }

@media (max-width: 767px) {
  .page-header__img,
  .benefits__picture--tablet {
    display: none; }
  .contacts__maps-tablet {
    display: none; }
  .page-header__img-desktop {
    display: none; }
  .main-nav--opened-desktop {
    display: none; }
  .benefits__picture--desktop {
    display: none; }
  .contacts__maps-desktop {
    display: none; }
  .page-footer__logo {
    display: none; } }

@media (min-width: 768px) {
  .page-footer__logo {
    display: block; }
  .contacts__maps-desktop {
    display: none; }
  .benefits__picture--desktop {
    display: none; }
  .page-header__img-desktop {
    display: none; }
  .page-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0;
    margin: 0 auto 25px;
    width: 768px; }
  .page-header__logo {
    display: none; }
  .page-header__img {
    box-sizing: border-box;
    min-height: 88px;
    padding-top: 22px;
    -ms-flex-positive: 1;
        flex-grow: 1;
    padding-left: 50px;
    -ms-flex-order: -2;
        order: -2;
    border-top: 0;
    text-align: left; }
  .main-nav__links {
    display: -ms-flexbox;
    display: flex;
    position: relative;
    top: 0;
    margin: 0;
    padding-left: 50px; }
  .main-nav__link--bottom a {
    background-color: transparent; }
  .main-nav__link--active a {
    font-size: 0;
    width: auto;
    padding-top: 33px 0 32px 0;
    background: url("../img/icon-search.svg") no-repeat;
    background-position: 10px center; }
  .main-nav__link--basket {
    background: url("../img/icon-cart.svg") no-repeat;
    background-position: 10px center; }
  .main-nav--closed {
    display: none; }
  .main-nav--opened-desktop {
    display: none; }
  .main-nav__links-tablet {
    display: block; }
  .main-nav--opened-two {
    -ms-flex-order: -1;
        order: -1; }
  .main-nav--opened {
    -ms-flex-order: 0;
        order: 0;
    background-color: transparent; }
    .main-nav--opened a {
      padding-right: 35px;
      padding-left: 0;
      width: auto; }
  .main-nav__switch {
    display: none; }
  .features-main {
    padding: 0 50px 0 50px; }
  .features-main__link {
    width: 50%;
    display: inline-block;
    position: relative;
    margin-top: 220px; }
  .features-main__link--two {
    margin-left: 334px;
    margin-top: -5px;
    padding-left: 0px; }
  .features-main__link--one {
    padding-right: 0px; }
  .page-header--index {
    background-image: url(../img/hero-mobile@2x.jpg);
    min-height: 566px;
    padding: 155px 0px 10px;
    background-position: center top;
    font-size: 43px;
    line-height: 50px;
    font-weight: 700; }
  .benefits {
    margin-top: 480px;
    padding: 0 50px 0 50px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    position: relative; }
    .benefits h2 {
      font-size: 43px;
      line-height: 50px;
      font-weight: 700; }
  .benefits__title {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between; }
    .benefits__title b {
      margin-top: 48px;
      width: 125px;
      font-size: 16px;
      line-height: 16px;
      font-weight: 700;
      text-align: center; }
  .benefits__picture {
    width: 334px;
    height: 404px;
    position: absolute;
    bottom: 0;
    top: 158px;
    right: 50px; }
    .benefits__picture--mobule {
      display: none; }
  .benefits__info {
    margin-top: 40px;
    width: 290px; }
    .benefits__info p {
      font-size: 17px;
      line-height: 30px; }
    .benefits__info td {
      font-size: 15px;
      line-height: 20px; }
  .benefits__table {
    width: 100%;
    margin-bottom: 60px; }
  .benefits__color {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 15px; }
  .benefits__btn--tablet {
    width: 290px; }
  .about-us {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0 50px 0 50px; }
    .about-us h2 {
      font-size: 40px;
      line-height: 50px;
      font-weight: 700; }
  .about-us__list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-left: 0; }
  .about-us__list li {
    margin-left: 0; }
  .about-us__item {
    margin: 0;
    display: -ms-flexbox;
    display: flex;
    margin-top: 100px;
    position: relative;
    width: 50%; }
    .about-us__item span {
      display: block;
      width: 300px;
      font-size: 20px;
      line-height: 24px;
      font-weight: 700; }
  .about-us__item:nth-child(1) {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-order: -6;
        order: -6; }
  .about-us__item:nth-child(2) {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-order: -4;
        order: -4; }
  .about-us__item:nth-child(3) {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-order: 3;
        order: 3; }
  .about-us__item:nth-child(4) {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-order: -5;
        order: -5; }
  .about-us__item:nth-child(5) {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-order: -3;
        order: -3; }
  .about-us__item:nth-child(6) {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-order: 6;
        order: 6; }
  .about-us__item-image {
    position: absolute;
    top: 0px; }
  .reviews {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-align: start;
        align-items: flex-start;
    background: url("../img/review@1x.jpg") no-repeat;
    background-size: 350px 460px;
    min-height: 460px;
    padding: 45px 50px 0 50px; }
    .reviews h2 {
      font-size: 43px;
      line-height: 50px;
      font-weight: 700;
      -ms-flex-order: -2;
          order: -2;
      margin-top: 20px; }
    .reviews p {
      font-size: 17px;
      line-height: 30px;
      margin-top: -10px; }
  .reviews__info {
    margin-top: -20px; }
  .reviews__btn {
    -ms-flex-order: -1;
        order: -1;
    width: 175px;
    margin-left: auto;
    margin-top: 10px; }
  .reviews__btn-left-right {
    margin-left: auto;
    display: -ms-flexbox;
    display: flex;
    box-sizing: border-box;
    margin-right: -25px; }
  .reviews__prev,
  .reviews__next {
    border: 0;
    width: 100px;
    padding: 0; }
  .contacts {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-line-pack: justify;
        align-content: space-between;
    padding: 0 50px 0 50px;
    background: url("../img/icon-flag.svg") no-repeat;
    background-position: 670px 76px; }
    .contacts b {
      font-size: 43px;
      line-height: 50px;
      font-weight: 700; }
  .contacts-info {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 30px; }
    .contacts-info span {
      font-size: 17px;
      line-height: 30px;
      color: #444444; }
  .contacts-email__value {
    text-decoration: none;
    border-bottom: 1px solid #62d1ba;
    color: #444444;
    margin-top: 5px; }
    .contacts-email__value:hover {
      color: #78cec0; }
  .contacts-email {
    width: 50%; }
  .contacts-adress {
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    margin-right: auto; }
  .contacts__maps-mobile {
    display: none; }
  .contacts__maps-tablet {
    display: block; }
  .contacts__maps {
    margin-top: 40px;
    margin-bottom: 50px; }
  .btn__tablet {
    width: 230px;
    margin-bottom: 50px; }
  .page-footer__tablet {
    padding: 40px 50px 40px 50px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-align: center;
        align-items: center; }
  .page-footer__social {
    display: -ms-flexbox;
    display: flex;
    margin-left: -160px; }
  .page-footer__copyright {
    margin-top: 10px;
    border: 0;
    position: relative; } }

@media (min-width: 1250px) {
  .page-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0;
    margin: 0 auto 25px;
    width: 1150px; }
    .page-header h1 {
      font-size: 53px;
      line-height: 57px; }
  .page-header__img {
    display: none; }
  .main-nav--opened-desktop {
    display: -ms-flexbox;
    display: flex;
    background-color: transparent; }
    .main-nav--opened-desktop li {
      width: 220px; }
    .main-nav--opened-desktop a {
      padding: 18px 60px 0 0;
      font-size: 15px;
      line-height: 24px;
      font-weight: 700; }
    .main-nav--opened-desktop div span {
      display: block;
      margin-left: 350px;
      margin-top: 20px;
      color: #444444;
      font-size: 15px;
      line-height: 24px; }
  .main-nav--opened {
    -ms-flex-order: -2;
        order: -2; }
    .main-nav--opened a {
      width: 185px; }
  .page-header__img-desktop {
    display: block;
    -ms-flex-order: -1;
        order: -1; }
  .features-main {
    margin-top: 45px; }
  .features-main__link img {
    left: 448px; }
  .features-main__link--two {
    margin-left: 525px;
    margin-top: -5px;
    padding-left: 0px;
    background-color: #56c3b2; }
  .benefits {
    padding: 0 50px 0 50px; }
  .benefits__picture {
    top: 47px;
    right: 240px; }
  .benefits__picture--tablet {
    display: none; }
  .benefits__picture--desktop {
    display: block; }
  .benefits__title {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
    -ms-flex-pack: justify;
        justify-content: space-between;
    margin-top: 50px; }
    .benefits__title h2 {
      z-index: 1;
      display: -ms-flexbox;
      display: flex;
      margin-right: 352px;
      font-size: 53px;
      line-height: 57px; }
    .benefits__title b {
      -ms-flex-preferred-size: 30px;
          flex-basis: 30px;
      text-align: center;
      margin-left: 45px;
      margin-top: 59px;
      font-size: 17px;
      line-height: 16px; }
  .benefits__info {
    margin-left: 175px; }
  .benefits__color {
    margin-left: 175px;
    font-size: 20px;
    margin-top: 61px; }
  .benefits__btn--tablet {
    margin-left: 175px; }
  .about-us h2 {
    font-size: 53px;
    line-height: 57px;
    margin-left: 175px; }
  .about-us__list {
    margin-left: 175px; }
  .reviews h2,
  .reviews p,
  .reviews .reviews__info {
    margin-left: 175px; }
  .contacts {
    position: relative;
    min-height: 450px;
    background-position: 65px 76px;
    margin-top: 160px;
    margin-bottom: -100px; }
    .contacts b {
      margin-left: 175px; }
  .contacts__maps {
    display: none; }
  .contacts__maps-desktop {
    display: block;
    width: 400px;
    position: absolute;
    top: 0;
    right: 170px; }
  .contacts-info {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    margin-left: 175px; }
  .btn__tablet {
    margin-left: 225px;
    margin-top: -30px; }
  .contacts-email {
    margin-bottom: 35px;
    margin-top: -25px; } }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.topic {
  font-size: 25px;
  line-height: 30px;
  font-weight: 600;
  margin-bottom: 5px; }

.btn {
  margin-top: 25px;
  outline: 0;
  display: block;
  text-align: center;
  min-width: 175px;
  max-width: 290px;
  padding: 17px 0px 17px 0px;
  color: #444444;
  font-size: 17px;
  line-height: 16px;
  font-weight: 600;
  border: 2px solid black;
  background: 0;
  text-transform: uppercase; }

.btn:hover {
  background: #444444;
  color: white;
  border: 2px solid #444444; }

.btn:active {
  background: #444444;
  color: #8d8d8d;
  border: 2px solid #444444; }
